Repository tannerwride/cci-hello: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-path-a, run-path-b

updated config
  .circleci/config.yml
Due: none

updated setup workflow
  .circleci/config.yml
Due: none

updating config
  .DS_Store
  .circleci/continue-config.yml
  patha/pathatext
  pathb/pathbtext
Due: run-path-a, run-path-b

updated config
  .circleci/continue-config.yml
Due: none

added path a
  patha/pathatext
Due: run-path-a

change to path b
  pathb/pathbtext
Due: run-path-b

update pathb
  pathb/pathbtext
Due: run-path-b

update
  pathb/pathbtext
Due: run-path-b

update
  .circleci/config.yml
  pathb/pathbtext
Due: run-path-b

path a edit
  patha/pathatext
Due: run-path-a

updating workflows
  .circleci/config.yml
Due: none

added workflows and parameter
  .circleci/config.yml
Due: none

update
  .circleci/config.yml
Due: none

updated parameter
  .circleci/config.yml
Due: none

update config
  .circleci/config.yml
Due: none

updated sequential workflow
  .circleci/config.yml
Due: none

updated sequential again
  .circleci/config.yml
Due: none

update workflows
  .circleci/config.yml
Due: none

update logic
  .circleci/config.yml
Due: none

trying again
  .circleci/config.yml
Due: none

updated or
  .circleci/config.yml
Due: none

fixed syntax
  .circleci/config.yml
Due: none

Update pathbtext
  pathb/pathbtext
Due: run-path-b

update for runner
  .circleci/config.yml
Due: none

update for dlc
  .circleci/config.yml
Due: none

update executor
  .circleci/config.yml
Due: none

testing context policy
  .DS_Store
  .circleci/config.yml
Due: none

update to test policy
  .circleci/config.yml
Due: none

remove context
  .circleci/config.yml
Due: none

dry run
  .circleci/config.yml
Due: none

Path conditions:
  run-path-a: any of: patha/.*
  run-path-b: any of: pathb/.*
